@{
    ViewData["Title"] = "Acerca de Nosotros";
}
<br />
<h2 class="text-info">@ViewData["Title"]</h2>


<p>
    Sisgen Chile es una empresa chilena privada, creada y comprometida para contribuir en el desarrollo empresarial del país, por medio de prestación de servicios; dirigida al sector público y privado; con fines lucrativos pero igualmente con responsabilidad social, ambiental y en un continuo proceso de autoevaluación y mejora.

    Somos especialistas en diseño y arquitectura de Erp Software. Entregamos servicio de sistematización adaptado a las necesidades del cliente junto con Facturación Electrónica . Junto con promover los valores humanos en función a contribuir a la mejora sostenible de nuestra comunidad con una cultura organizacional basada en la eficiencia, competitividad y rapidez.

    El recurso humano de Sisgen Chile cuenta con dirigentes y gestores altamente capacitados, así como la permanente actualización tecnológica de última generación para el área de investigación y desarrollo; además de poseer la infraestructura, solidez y respaldo que nos caracterizan.
</p>
