@{
    ViewData["Title"] = "Contacto";
}
<br />
<h2 class="text-info">@ViewData["Title"]</h2>


<hr />
<address>
    <img src="~/images/logo1.png" /> <br />
    Lago Cochrane 4920, <br />
    Puente Alto, Santiago.<br />
    <abbr title="Telefóno">P:</abbr>
    +56 2 22670274
</address>
<address>
    <strong>Marketing:</strong> <a href="mailto:ventas.sisgen@netdte.cl">ventas.sisgen@netdte.cl</a><br />
    <strong>Support:</strong> <a href="mailto:angel.pinilla@sisgenchile.cl">angel.pinilla@sisgenchile.cl</a>
</address>

<hr />
<address>
    <img src="~/images/logo.png" /> <br />
    Panamericana Sur kilometro 23, <br />
    San Bernardo , Santiago.<br />
    <abbr title="Telefóno">P:</abbr>
    +56 9 6122 4360
</address>


